.outterBox{
    background-color: azure;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 15%;
    padding-right: 15%;
}

.header{
    font-family: sans-serif;
}

.subHeader{
    font-family: sans-serif;
    font-size: 25px;
}

.text{
    font-family: serif;
    font-size: 20px;
    font-size: 1.5vw;
}

.introSec{
    display:flex;
    justify-content: space-around;
    flex-flow: row wrap;
    gap: 10px;
    padding-top: 4%;
    padding-bottom: 4%;
}

img{
    align-self:flex-start;
    width: 45%;
    border-style: solid;
    border-color:rgb(157, 189, 248);
    border-radius: 5%;
}

.contactInfo{
    border-style: solid;
    border-color:rgb(157, 189, 248);
    border-radius: 5%;
    background-color: rgb(200, 243, 227);
    padding: 1%;
    width:45%;
    height: 60%;
}

@media (max-width: 640px){
    .outterBox{
        background-color: azure;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .introSec{
        display:flex;
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
    img{
        width: 100%;
        border-style: solid;
        border-color:rgb(157, 189, 248);
        border-radius: 5%;
    }
    
    .contactInfo{
        border-style: solid;
        border-color:rgb(157, 189, 248);
        border-radius: 5%;
        background-color: rgb(200, 243, 227);
        padding: 1%;
        width:100%;   
    }

    .text{
        font-family: serif;
        font-size: 16px;
    }
}
